<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Winnicode Portal Berita</title>
        <link rel="shortcut icon" href="/img/logo.png" />

        <!-- Google Font: Source Sans Pro -->
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <!-- Font Awesome Icons -->
        <link rel="stylesheet"
            href="/assets/plugins/fontawesome-free/css/all.min.css">

        <link rel="stylesheet" href="/assets/css/layoutstyle.css">
    </head>
    <body>
        <div class="app-header">
            <img src="assets/img/banner-logo.png" alt="logo-img">
        </div>
        <div class="main-container">
            <aside class="sidebar">
                <span>
                    <a href="#">
                        <i class="fas fa-house-user"></i>
                    </a>
                </span>
                <span>
                    <a href="#">
                        <i class="fas fa-search"></i>
                    </a>
                </span>
                <span>
                    <a href="#">
                        <i class="fas fa-user"></i>
                    </a>
                </span>
            </aside>
            <div class="feed-container">
                <%- body %>
            </div>
        </div>
    </body>
</html>
